<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="com.util.extent.ExtentTestNGITestListener"></listener>
    </listeners>
    <test name="Test">
        <classes>
            <class name="macaca.client.ExtentTestNGReportBuilder"></class>
        </classes>
    </test>
</suite>